@charset "utf-8";
/* CSS Document */

/* General Links and Buttons */
a {
	color: rgba(56, 163, 221, 1);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
button, .c2a a {
	padding: .4em .8em;
	color: #fff;
	font-size: 1em;
	border: 0;
}
/* Button types and format */
button.tag {
    border-radius: 2px;
    padding: .4em .8em;
    font-size: .8em;
    text-transform: lowercase;
    font-weight: 300;
}
button.upvote {
	width: 3em;
    font-size: 1.2em;
    border: 1px solid rgba(255,255,255,0);
	color: rgba(56, 163, 221, 1);
	background: rgba(255,255,255,0);
}
button.upvote:hover {
    border-radius: 4px;
	border: 1px solid rgba(56, 163, 221, 1);
	cursor: pointer;
}
/* This should be large */
button.large, button.start-discuss {
	font-size: 1.2em;
	display: block;
	font-weight: 300;
	border: 0px;
	padding: 1em 2em;
}

.category a {
	text-transform: uppercase;
	font-size: .8em;
  letter-spacing: .05em;
}

/* Specific button colors */
button.join {
	background-color: rgba(255, 88, 6, 1);
}
button.login {
	background-color: none;
}
button.tag {
	background: rgba(56, 163, 221, 1);
	color: rgba(255,255,255,1);
}
button.start-discuss, button.submit-comment {
	background-color: rgba(56, 163, 221, 1);
	color: rgba(255, 255, 255, 1);
}
button.asset {
	background-color: rgba(232, 31, 99, 1);
	color: rgba(255, 255, 255, 1);
}
button.reply {
  border: 1px solid rgba(56, 163, 221, 1);
  color: rgba(56, 163, 221, 1);
  background-color: rgba(255,255,255,1);
}
button.reply:hover {
  color: rgba(255,255,255,1);
  background-color: rgba(56, 163, 221, 1);
} 
button.discuss-upvote {
padding: .4em .8em;
font-size: 1em;
border: 1px solid rgba(56, 163, 221, 1);
background: rgba(255,255,255,1);
color: rgba(56, 163, 221, 1);
margin-bottom: 1.2em;
}
button.submit-comment {
	margin-top: 1em;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.25);
	padding: 18px 20px;
}

