@charset "utf-8";
/* CSS styles for listing page */

.listing .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}
.listing p{
font-size: 1.125em;}
	
.listing section {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: stretch;
}

#listing .categories h3 {
	display: inline-block;
	font-size: inherit;
}

#listing .categories ul {
	display: inline-block;
	margin-right: 2em;
}

#listing .categories ul li {
	display: inline-block;
}

.listing .product h4 {
	font-family: Bitter, Cambria, sans-serif;
	font-size: 1.4em;
	margin-bottom: 0.8em;
}

.listing .product {
	margin-bottom: 2em;
}

.listing .product .description {
	line-height: 1.6em;
}

.listing article {
	order: 2;
	flex: 1 0 auto;
	align-self: auto;
	flex-basis: 1em;
}
.listing article h2 {
  font-size: 1.5em;
  margin: 1em 0;
}
.listing header {
	order: 1;
	flex: 1 1 auto;
	align-self: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: flex-start;
}
.listing .top {
	order: 1;
	flex: 2 1 auto;
	align-self: flex-start;
}
.listing .indicators {
	order: 2;
	flex: 1 1 auto;
}
.listing .indicators.end {
	margin: 2em 0 0;
}
.indicators.end button.bookmark {
	margin-bottom: 0;
}

.listing .content {
	order: 2;
	flex: 1 1 auto;
	align-self: auto;
	line-height: 1.5em;
}
.listing footer {
	order: 3;
	flex: 1 1 auto;
	align-self: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}
.listing .status {
	order: 1;
	flex: 0 0 auto;
	align-self: stretch;
}
.listing .tags, .asset {
	order: 2;
	flex: 0 0 auto;
	align-self: stretch;
}
.listing .status {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
}

.listing {
	margin-right: 3em;
	margin-top: 2.2em;
}

.listing h3.solutions {
	font-weight: 100;
	text-transform: uppercase;
	font-size: .6em;
}
.listing .related {
	margin-top: 1em;
}
.listing .listings {
	margin-bottom: 1em;
}
.listing .asset img {
	width: 300px;
	height: 200px;
	float: left;
	margin-right: 2em;
}
.listing .cover {
	background-color: #efefef;
	margin: 1em auto;
	padding: 2em;
	display: block;
}
.listing .teaser p {
	margin: 1em 0;
}
.listing .teaser h2 {
    font-weight: 600;
    font-size: 1.2em;
}
#listing .discussions {
order: 3;
    width: 960px;
    margin: 0 auto;
}

#listing .discussions .discuss {
	margin-left: 0;}

#listing .discussions .discuss .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    }

#listing .discussions .discuss aside.upvote {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    }

#listing .discussions .discuss header {
    order: 2;
    flex: 1 1 auto;
    align-self: auto;
    }

#listing .discussions .discuss footer {
    order: 3;
    flex: 1 1 auto;
    align-self: auto;
    }
#listing .discussions .discuss .comments {
    order: 2;
    flex: 1 0 auto;
    text-align: right;
}

#listing .listing .images {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

#listing .listing .image-assets {
 flex-direction: row;
 display: flex; 
}

#listing .listing .image-assets li {
  height: 200px;
  width: 200px;
  border: 1px solid #38a3dd;
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-bottom: 3em;
}

#listing .listing .video {
 display: flex;
 margin-bottom: 3em;
 margin-top: 3em;
 justify-content: center; 
}