@charset "utf-8";
/* CSS styles for listing page */


/* Layout */
.listing .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}
.listing p{
font-size: 1.125em;}
	
.listing section {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: stretch;
}

.listing article {
	order: 2;
	flex: 1 0 auto;
	align-self: auto;
	flex-basis: 1em;
}
.listing article h2 {
  font-size: 1.5em;
  margin: 1em 0;
}
.listing header {
	order: 1;
	flex: 1 1 auto;
	align-self: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: flex-start;
}
.listing .top {
	order: 1;
	flex: 2 1 auto;
	align-self: flex-start;
}
.listing .indicators {
	order: 2;
	flex: 1 1 auto;
}
.listing .indicators.end {
	margin: 2em 0 0;
}
.indicators.end button.bookmark {
	margin-bottom: 0;
}

.listing .content {
	order: 2;
	flex: 1 1 auto;
	align-self: auto;
	line-height: 1.5em;
}
.listing footer {
	order: 3;
	flex: 1 1 auto;
	align-self: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

/* Company info */
.listing-info {
	margin-bottom: 1.2em;
}

.listing-info .rating {
	color:rgba(230, 195, 0, 1);
	font-size: 1.8em;
	display: inline-block;
}
.listing-info .review {
	display:inline-block;
	margin-left: 0.6em;
	font-style: italic;
}
.listing-info h1 {
	font-size: 2em;
	margin-right: 1em;
	display: inline-block;
}
.listing-info .social-links, .listing-info .social-links li {
	display: inline-block;
}

#listing .categories h3 {
	display: inline-block;
	font-size: inherit;
}

#listing .categories ul {
	display: inline-block;
	margin-right: 2em;
}

#listing .categories ul li {
	display: inline-block;
}

#listing .meta {
  margin-bottom: 1em;
}
#listing header {
	justify-content: space-between;
}
#listing .actions {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
#listing .actions button {
	margin-bottom: 1em;
}

#listing .actions button.bookmark{
	align-self: flex-end;
}


/* Listing Products */
.listing .product h4 {
	font-family: Bitter, Cambria, sans-serif;
	font-size: 1.4em;
	margin-bottom: 0.8em;
}

.listing .product {
	margin-bottom: 2em;
}

.listing .product .description {
	line-height: 1.6em;
}


.listing .status {
	order: 1;
	flex: 0 0 auto;
	align-self: stretch;
}
.listing .tags, .asset {
	order: 2;
	flex: 0 0 auto;
	align-self: stretch;
}
.listing .status {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
}

#listing .discussions {
order: 3;
    width: 960px;
    margin: 0 auto;
}

#listing .discussions .discuss {
	margin-left: 0;}

#listing .discussions .discuss .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    }

#listing .discussions .discuss aside.upvote {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    }

#listing .discussions .discuss header {
    order: 2;
    flex: 1 1 auto;
    align-self: auto;
    }

#listing .discussions .discuss footer {
    order: 3;
    flex: 1 1 auto;
    align-self: auto;
    }
#listing .discussions .discuss .comments {
    order: 2;
    flex: 1 0 auto;
    text-align: right;
}

#listing .listing .images {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

#listing .listing .image-assets {
 flex-direction: row;
 display: flex; 
}

#listing .listing .image-assets li {
  height: 200px;
  width: 200px;
  border: 1px solid #38a3dd;
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-bottom: 3em;
}

#listing .listing .video {
 display: flex;
 margin-bottom: 3em;
 margin-top: 3em;
 justify-content: center; 
}

#listing .reviews h4 {
  font-family: Bittter, Cambria, sans-serif;
  font-size: 1.4em;
  margin-bottom: 0.8em;
}

#listing .reviews h2 {
  font-size: 1.2em;
}

#listing .verified {
	background-color:rgba(56, 163, 221, 1);
	color: rgba(255, 255, 255, 1);
	padding: .4em .8em;
	font-size: .8em;
	font-weight: 300;
	height: 1em;
}

#listing .review-options {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

#listing h2 {
  flex: 1;
}

#listing .filter {
  flex: 1;
}

#listing .review {
	display: flex;
	flex-direction: row;
}

#listing .review .avatar {
	width: 6em;
	height: 6em;
	border-radius: 6em;
	margin-right: 1em;
}

#listing .review .review-content {
	flex: 1;
}

#listing .review-header {
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: baseline;
}

#listing .rating {
  margin-right: .8em;
  color: rgba(230, 195, 0, 1);
  font-size: 1.5em;
}

#listing .review-header h4 {
 margin-right: 1em;
}

#listing .see-more {
	align-self: flex-end;
}

