@charset "utf-8";
/* CSS Document */

/*Discussion*/
#discussion .banner{    
	display: block;
    background: rgba(232, 31, 99, 1);
    order: 2;
    height: 200px;
}
#discussion .banner .block{    
	display: block;
}
#discussion .banner h3 {    
	margin-bottom: 0;
	color: #fff;
}
#discussion .banner h1 {    
	display: block;
    font-size: 2em;
	color: rgba(255,255,255,1);
	clear: both;
}
.featured-image {
	background-image: cover url( ../images/7-Tips-for-Growth-Hacking-Your-Way-to-the-Top-of-Your-Industry.jpg)
}