@charset "utf-8";
/* CSS Document */

#profile .banner {
  order: 2;
}

#profile .tab-group {
  
}
#profile .tab-group .tab {
  background-color: transparent;
  padding: 1em 5em;
  color: rgba(255,255,255,1);
}

#profile .tab-group .tab.selected {
  background-color: rgba(255,255,255,1);
  color: rgba(0,0,0,1);
}

#profile .tab-group .tab:hover {
  background-color: rgba(255,255,255,0.2);
}

#profile .review-header{display:flex;flex-direction:row;justify-content:flex-start;align-items:baseline}
#profile .rating{margin-right:.8em;color:rgba(230,195,0,1);font-size:1.5em}
#profile .review-header h4{margin-right:1em}
#profile .verified{background-color:rgba(56,163,221,1);color:rgba(255,255,255,1);padding:.4em .8em;font-size:.8em;font-weight:300;height:1em; margin-left: 1em;}