@charset "utf-8";

/* Global Profile Styles */
#profile .banner{order:2;display:flex;flex-direction:column;justify-content:center;background:transparent url(../../images/profile_bg.jpg) no-repeat 50% 100%;height:20em;width:960px;align-self:center}
#profile > .banner > .block{flex-direction:column;margin:0;height:100%}
#profile .tab-group{order:2;align-self:flex-start; display: flex; flex-direction: row;}
#profile .tab-group .tab{background-color:transparent;padding:0.2em 0.6em;color:rgba(255,255,255,1); position: relative; bottom: 12px; margin: 0 2em; font-size: 1.2em}
#profile .tab-group .tab:hover{border-bottom: 2px solid rgba(255,255,255,0.4);}
#profile .tab-group .tab.selected{ border-bottom: 2px solid rgba(255,255,255,1);}
#profile .banner .information{display:flex;align-self:center;flex-direction:column;align-items:center;order:1;flex:1 1 auto;margin-top:2em;}

#profile .updates .update-list .update-item {overflow-x: hidden; text-overflow: ellipsis;}
#profile .banner .information ul{display:flex;flex-direction:row}

/* Activity Tab */
#profile .container{display:flex;flex-direction:row;justify-content:flex-start;align-items:flex-start;align-content:flex-start}
#profile .background{height:7em;width:7em}
label{margin:.2em 0}
#profile .preferences .tab-container{padding-top:3em;background-color:rgba(56,163,221,1)}
#profile .save-profile{align-self:center;padding:.8em 2em;margin:2em}
#profile .input, #profile .site-details .input,#profile textarea{flex:1}
#profile .review-header{display:flex;flex-direction:row;justify-content:flex-start;align-items:baseline}
#profile .rating{margin-right:.8em;color:rgba(230,195,0,1);font-size:1.5em}
#profile .review-header h4{margin-right:1em}
#profile .verified{background-color:transparent;color:rgba(56,163,221,1);font-size:.8em;font-weight:300;height:1em;margin-left:1em}

/* About Tab */
#profile .about { width: 960px; }
#profile .about.site-details{display:flex;justify-content:center;flex-direction:column}
#profile .about.preferences{display:flex;justify-content:center;flex-direction:column}
#profile div.password{display:flex;flex-direction:row;justify-content:space-between;align-items:center;margin-top:2em}
#profile .edit-photos{display:flex;flex-direction:column;flex:0 1 auto;margin:0 1em 0 0}
#profile .edit-basic{display:flex;flex-direction:column;flex:1 1 auto}
#profile .edit-basic textarea{height:18em}
#profile .urls{display:flex;flex-direction:column}
#profile .urls .input-group{margin-bottom:2em;display:flex;flex-direction:column}
#profile .validation-input{margin-bottom:2em}
.image-select-group{margin-bottom:2em;display:flex;flex-direction:column;align-items:center}
.image-select-group button{margin-top:1em}
#profile .update a {font-size: 1em; letter-spacing: .05em}
#profile .update  {font-size: 1em; letter-spacing: .05em; margin-bottom: 1em; display: flex; justify-content: space-between; align-items: center;}
#profile .asset-type {display: flex; align-items: center; flex-direction: row;}
#profile img {margin-right: 1em}

#profile section.discuss {padding-top: 1.4em;}

/* Feed Tab */
#profile .updates { max-width: 730px;}
#profile .updates header { margin: 1em 0 2em 0; padding-top: 2em; border-top: 0.8px solid rgba(0,0,0,0.4);}
#profile .updates .update-list {}
#profile .updates .update-list .update-item {}
#profile .updates .update-list .update-item .avatar {}
#profile .updates footer {margin: 1em 0 0 0; padding-top: 2em; border-top: 0.8px solid rgba(0,0,0,0.4); text-align: center;}
#profile .updates footer a {font-size: 1.4em;}