@charset "utf-8";
/* CSS Document */

/* Banner section */
.banner { order: 2; background-repeat: repeat}
.alt1 { background-image: url(../../images/advertising_search-8_10p.png)}
.alt2 { background-image: url(../../images/martech_pattern_01-8_10p.png)}
.alt3 { background-image: url(../../images/martech_pattern_02-8_10p.png)}
.alt4 { background-image: url(../../images/martech_pattern_03-8_10p.png)}
.alt5 { background-image:url(../../images/martech_pattern_04-8_10p.png)}
.swatch1 {  background-color: rgba(232, 31, 99, 1) }
.swatch2 { background-color: rgba(45,76,186, 1)}
.swatch3 { background-color: rgba(0,150,135,1)}
.swatch4 { background-color: rgba(152,38,175,1)}
.swatch5 { background-color: rgba(0,7,43,1) }
.banner h1 { display: block; font-size: 2em; color: rgba(255,255,255,1); clear: both; font-weight: 100; }
.banner h3 a { color: #fff; font-weight: 100; font-size: 1em; margin-bottom: 0; }
.banner h3 a.community-engagement { text-transform: lowercase; font-weight: 300;}
.banner h3 a.community-engagement strong{ font-size: 1.2em;}
.banner .meta { margin: 2em 0; color: rgba(255,255,255,1); line-height: 1.3em; font-size: 1.2em; font-family: Bitter, Cambria, sans-serif; }
.banner .meta .original-article a { font-size: 1.2em; font-style: normal; color: rgba(255,255,255,1); font-family: Bitter, Cambria, sans-serif;}
.banner .author { padding-top: 0.2em; display: block;}
.banner .author a { color: rgba(255,255,255,1);}
.banner a.request-guidelines { color: rgba(255,255,255,1); margin: 2em 0 0 0; display: block; }
.banner .avatar { float: left; border-radius: 4em; width: 4em; height: 4em; margin-right: .5em; }
.banner .avatar.alt { border-radius: 6em; width: 6em; height: 6em; }
.banner .bio { font-style: normal;}
.banner .block {margin-top: 2em; margin-bottom: 3em;padding-left: 2.5em;}
.banner h4 a { color: rgba(255,255,255,1); margin: 1em 0 0 0; font-weight: 300; display: block; }

#profile .banner .information .social li{height:2.4em;width:2.4em;border-radius:2.4em;margin:.2em;background-color:aqua; }

#profile .banner .information{color:rgba(255,255,255,1);text-shadow:1px 1px 3px rgba(0,0,0,0.8)}