@charset "utf-8";
/* CSS Document */

/* Discuss card flex-box*/

.discuss .comments {
	order: 2;
    flex: 1 1 auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.discuss .comments ul.avatars {
	order: 1;}

.discuss .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}
.discuss .excerpt {
	order: 2;
	flex: 1 1 auto;
	align-self: auto;
}
.discuss .indicators {
	order: 2;
	flex: 1 1 auto;
	text-align: right;
}
.discuss .related {
    order: 1;
    flex: 1 1 50%;
    align-self: flex-start;
    flex-wrap: wrap;
}
.discuss .status {
	order: 1;
	flex: 0 0 auto;
	align-self: stretch;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
}
.discuss .tags, .asset {
	order: 2;
	flex: 0 0 auto;
	align-self: stretch;
}
.discuss .top {
	order: 1;
	flex: 2 1 auto;
	align-self: flex-start;
}
.discuss article {
	order: 2;
	flex: 1 0 auto;
	align-self: auto;
	flex-basis: 1em;
}
.discuss aside.upvote {
	order: 1;
	flex: 0 0 auto;
	align-self: auto;
	margin-right: 1em;
}
.discuss footer {
	order: 3;
	flex: 1 1 auto;
	align-self: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}
.discuss footer .comment-status {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.discuss footer .comment-status .avatars {
	-webkit-flex: 1 0;
	flex: 1 0;
	order: 2;
}
.discuss footer .comment-status .metrics {
	-webkit-flex: 1 0;
	flex: 1 0;
	order: 3;
}
.discuss footer .comment-status .related {
	-webkit-flex: 1 0;
	flex: 1 0;
	order: 1;
}
.discuss header {
	order: 1;
	flex: 1 1 auto;
	align-self: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: flex-start;
}
.discuss section {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: stretch;
}
/*General Styling*/

.discuss {
	font-size: 1em;
	font-weight: 300;
	padding: .5em 1.5em 1.5em;
	background-color: rgba(255,255,255,1);
	margin-top: 1.6em;
	margin-bottom: 1em;
	margin-left: 3em;
	padding-top: 1em;
}
.discuss .author {
	margin-right: .5em;
}

.discuss .avatar {
	float: left;
	border-radius: 2em;
	width: 2em;
	height: 2em;
	margin-right: .5em;
}
.discuss .date {
	font-size: inherit;
}
.discuss .excerpt {
	line-height: 1.5em;
}
.discuss .listings {
	margin-bottom: 1em;
}

.discuss .metrics {
	order: 2;
}
.discuss .metrics a {
	text-decoration: none
}
.discuss .metrics a:hover {
	text-decoration: underline
}
.discuss .related {
	margin-top: 1em;
}
.discuss footer .avatar {
	float: left;
	border-radius: 2em;
	width: 2em;
	height: 2em;
	margin-right: .5em;
	margin-left: -.5em;
	border: solid 1px rgba(255,255,255,.5);
}
.discuss h1 {
	font-size: 1.5em;
	font-weight: 300;
	margin-bottom: .5em;
}
.discuss h3.solutions {
	font-weight: 100;
	text-transform: uppercase;
	font-size: .6em;
}
.discuss li {
	display: inline
}
/*Sticky specific*/
.discuss.sticky h1 {
	font-size: 1.7em;
	margin-top: 1em;
}
.discuss .asset img {
	width: 300px;
	height: 200px;
	float: left;
	margin-right: 2em;
}
.discuss .cover {
	background-color: rgba(0, 7, 43, .05);
	margin: 1em auto;
	padding: 2em;
	display: block;
}
.discuss .teaser h2 {
	font-weight: 600;
	font-size: 1.2em;
}
.discuss .teaser p {
	margin: 1em 0;
}
.discuss.sticky {
	-webkit-box-shadow: 0px 1px 12px -2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 12px -2px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 12px -2px rgba(0,0,0,0.5);
}

/*Card types*/
.contributed-type {
}
.review-type {
}
.comment-type {
}
.content-type {
}

.discuss .author{font-size: 0.9em; }
.discuss .date{font-size: 0.9em;  }
.discuss .footer .upvote{margin-top: 1em; }
.discuss .meta {display: flex; flex-direction: row; padding-bottom: 1em;}

.discuss.new-comment{display: flex; flex-direction: column; }
.discuss.new-comment button{align-self: center; margin-top:1em }
.discuss.new-comment div.add-comment{display: flex; flex-direction: row; }
.discuss.new-comment textarea{flex: 1; height: 10em; }

.discuss.reply{margin-top: 0; margin-bottom: 0; margin-left: -3em}
#discussion .discuss.reply.level2, .discuss.reply.level3 {margin:0; padding: 1em 0}
.discuss.reply.level2 .container{border-left: 1em solid rgba(56, 163, 221, .05)}
.discuss.reply.level3 .container{border-left: 1em solid rgba(56, 163, 221, .05)}
.reply .meta{margin-top: 0.75em; }
.reply footer{display: flex; flex-direction: row; }
.reply footer input{flex: 1; margin-right: 0.8em; font-style: italic; }
.reply p{margin-left: -1em; padding-left:1em}

.discuss-head{display: flex; flex-direction: column; justify-content: space-between; }
.discuss-head .upvote i{font-size: 1.7em; }
.discuss-head .upvote span{font-size: 1.2em; }

#discussion .discuss.sticky {}

.discuss .sticky .category, .sticky .upvote{display: block; }
.discuss.sticky.reference{background:rgba(56, 163, 221, .2); margin-top: 2.25em; margin-bottom: 0; padding-bottom: 0;}
.spinning .spin{background: no-repeat url(../../images/MTE_bug.png) left; padding-left: 3em; background-size: 36px}
.sticky .related{visibility: hidden; }

#discussion .discuss .sticky .category, #discussion .sticky .indicators { display: auto; margin-top: .5em; }
