@charset "utf-8";
/* CSS Document */

/* Grid section */
.grid { margin: 3em 1.5em 3em 0;}
.grid ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 0;
}
.grid ul li {
  display: block;
  background-color: rgba(255,255,255,1);
  padding: 1em;
  width: 14em;
  margin-bottom: 1em;
}
.grid .end {
  text-align: right;
}