@charset "utf-8";
/* CSS Document */
footer.page {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content: center;
}
footer.page nav {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content: center;
}

