@charset "utf-8";
/* CSS Document */

.search .fa-search {
	color: #fff;
	order: 2;
	background-color: rgba(232, 31, 99, 1);
	padding: .668em;
}
.search input {
	order: 1;
	width: 100%;
	padding: .4em;
}
